$white: #fff;
$white-80: rgba($white, 0.8);
$white-60: rgba($white, 0.6);
$white-5: rgba($white, 0.05);

$black: #000;
$black-90: rgba($black, 0.9);
$black-80: rgba($black, 0.8);
$black-60: rgba($black, 0.6);
$black-5: rgba($black, 0.05);

$red: #db1d28;
$red-20: rgba($red, 0.2);
